@import "../../styles/vars";
.products {
  width: 50%;
  th {
    padding: 8px 12px;
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    .asc,
    .desc {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: $c-text $c-text transparent transparent;
        position: absolute;
        right: 0;
        top: 35%;
        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
    .desc {
      &:after {
        transform: rotate(135deg);
      }
    }
  }
}
.product-item {
  td {
    padding: 5px 10px;
    cursor: pointer;
  }
  &.active {
    background: rgba($c-primary, 0.1);
  }
}

.product-card {
  padding: $padding-min;
  margin-top: $padding-min * 2;
  border: 1px solid;
  max-width: 50%;
  min-width: 320px;
  position: relative;
  & > div {
    margin-bottom: 10px;
    .label,
    span {
      margin-right: 0.4em;
    }
  }
  h3 {
    margin-top: 0;
    text-transform: uppercase;
    input {
      font-size: 26px;
      text-transform: uppercase;
      color: $c-text;
    }
  }
  .id {
    text-transform: lowercase;
    font-size: 0.8em;
    color: $c-fade;
    margin-right: 10px;
    display: block;
  }
  .price {
    position: absolute;
    top: $padding-min;
    right: $padding-min;
    font-size: 20px;
    color: $c-text;
    text-align: right;
    max-width: 120px;
    .label {
      margin-right: 0;
    }
    input {
      font-size: 20px;
      width: 100px;
      text-align: right;
      color: $c-text;
    }
  }

  .label {
    font-size: 0.8em;
    color: $c-fade;
  }
  .button-group {
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    .danger {
      margin-left: auto;
    }
  }
}
.add-product-form {
  margin-top: 0;
  max-width: none;
  input {
    display: block;
    margin-top: 6px;
  }
}

input {
  font-size: 16px;
  outline: none;
  &:disabled {
    background: transparent;
    border: none;
    color: $c-text;
    padding-left: 0;
  }
}
