@import "../styles/vars";
.products {
  th {
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
    &.asc {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: $c-text $c-text transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &.desc {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: transparent $c-text $c-text transparent;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
.product-item {
  td {
    padding: 5px 10px;
  }
}