@import "../styles/vars";
.products {
  th {
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
    &.asc {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: $c-text $c-text transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &.desc {
      &:after {
        content: "";
        width: 0;
        height: 0;
        border: 4px solid;
        border-color: transparent $c-text $c-text transparent;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
.product-item {
  td {
    padding: 5px 10px;
  }
}

.product-card {
  padding: $padding-min;
  margin-top: $padding-min * 2;
  border: 1px solid;
  max-width: 50%;
  min-width: 320px;
  position: relative;
  & > div {
    margin-bottom: 10px;
    .label {
      margin-right: 0.4em;
    }
  }
  h3{
    margin-top: 0;
    text-transform: uppercase;
  }
  .id {
    text-transform: lowercase;
    font-size: 0.8em;
    color: $c-fade;
    margin-left: 10px;
  }
  .price {
    position: absolute;
    top: $padding-min;
    right: $padding-min;
    font-size: 20px;
  }

  .label {
    font-size: 0.8em;
    color: $c-fade;
  }
}